    /* common footer CSS style*/
#footer {
    clear: both;
    width:100%;
    background: url("../images/common/bottom_back.png") repeat;
    overflow: hidden;
}
#footer #jimi_formation {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    width:700px;
    margin:0 auto;
}
#footer p {
    float: left;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#fff;
    margin:6px;
    text-align: center;
}
#footer #jimi_formation p span {
    float: left;
    text-align: left;
}
#footer #jimi_formation p span.footer_left {
    float: left;
    width:74%;
}
#footer #jimi_formation p span a {
    color:#fff;
}
.follow {
    float: right;
}
a#website {
    color:#fff;
}
a#website:hover {
    text-decoration: underline;
}