/*================================
app-tailor-made.html CSS style
=================================*/
#process_analysis ul li div.img img {
    margin-left:10%;
}
#process_analysis ul li div.step_number {
    width:100%;
    height: 31px;
    line-height: 31px;
}
