
.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; padding: 10px; float: left; margin-top:-61px;  }
.cs-buttons a { margin-left: 5px; height: 15px; width: 15px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; border-radius: 8px;}
.cs-active { background-color: #f19149; color: #FFFFFF; }

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev,
.cs-next {display: none;}
