/************************************
	Author:wangning
	Mail: winvalx@qq.com
	Created Time:2013-8
 ************************************/
/*CSS init*/
* {
    margin:0px;
    padding:0px;
}
img {
    boder:none;
}
ol,ul,li {
   list-style:none;
}
li {
    float: left;
}
a {
   text-decoration:none;
}
body {
   background:#fff;
   color:#555;
   font-size:14px;
   font-family: "黑体";
    width:100%;
}

#wrapper {
    margin:0 auto;
}
#header {
    height: 600px;
    position: relative;
}
#banner_logo {
    position: absolute;
    top:20%;
    left:11%;
    width:88%;
    height:50%;
}
#banner_logo img {
    position: relative;
    margin:2% 0px;
}
#banner_logo img#Tec {
   left:7%;
}
#banner_logo img#IT {
    position: absolute;
    right:13%;
    margin:0px;
}

#main {
    background: url("../images/index/middle_bg.png") repeat;
    overflow: hidden;
}
#main ul {
    padding:2%;
    margin:0 auto;
    background: url("../images/index/middle_bg.png") repeat;
    overflow: hidden;
    width: 1230px;
    margin: 0 auto;
}
#main ul li {
    width: 327px;
    height:227px;
    margin:0 40px;
    background: url("../images/index/1-3-bg.png") center no-repeat;
}
#main ul li img.obj_left {
   float: left;
   margin-top: 13px;
   margin-left: 25px;
}
#main ul li img.obj_right {
    float: right;
    margin-right: 12px;
    margin-top: 45px;
}
#main ul li p {
    float: left;
    width:300px;
    font-size:18px;
    line-height: 39px;
    padding-left:45px;
}
#main ul li p span {
    float: right;
    margin-right: 51px;
}
#main ul li p span a {
    font-size: 16px;
    color:#1f3b7b;
}
#main ul li p span a:hover {
    color:#8d0000;
    text-decoration: underline;
}
